@font-face {
    font-family: zapfino;
    src: url(../font/Zapfino.ttf);
}

@font-face {
    font-family: julius;
    src: url(../font/JuliusSansOne-Regular.ttf);
}

@font-face {
    font-family: cabin-bold;
    src: url(../font/CabinSketch-Bold.otf);
}

@font-face {
    font-family: gruppo;
    src: url(../font/Gruppo-Regular.ttf);
}

@font-face {
    font-family: tenorsans;
    src: url(../font/TenorSans-Regular.ttf)
}

@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Medium.ttf)
}

body {
    background-color: #f0f0f0;
    font-family: tenorsans;
    font-size: 15px;
    font-size: 1.2vw;
}

div.header {
    height: 150px;
}

div.header-img {
    width: 90%;
    position: absolute;
    right: 5px;
    background-image: url(../img/header2.png);
    background-position: left bottom;
    height: 150px;
}

div.logo {
    float: left;
    left: 0px;
    width: 20%;
    height: 100%;
}

.logo img {
    height: 100%;
}

div.menu {
    height: 45px;
    font-family: cabin-bold;
    font-size: 25px;
    font-size: 1.8vw;
    padding-top: 10px;
    float: right;
    padding-right: 20px;
    color: black;
    clear: both;
}

div.menu span {
    margin-left: 50px;
}

.menu-link:hover {
    cursor: pointer;
}

span#give {
    border: 2px solid #000;
    border-radius: 300px;
    background-color: transparent;
    padding: 5px;
}

span#give:hover {
    color: #f0f0f0;
    background-color: black;
}

div#content {
    clear: both;
    padding-top: 5%;
    padding-top: 5vh;
    margin: 0px 50px;
}

div.home-img {
    float: left;
    width: 50%;
}

div.home-img img {
    width: 100%;
}

div.home-text {
    float: right;
    padding-top: 80px;
    padding-left: 30px;
    width: calc(50% - 30px);
}

div.believe {
    font-family: zapfino;
    font-size: 25px;
    font-size: 2vw;
    letter-spacing: 2px;
    padding-left: 50px;
}

div.belief {
    font-family: julius;
    font-size: 20px;
    font-size: 1.5vw;
    letter-spacing: 2px;
    line-height: 1.7em;
    padding-left: 50px;
}

div.jesus {
    font-family: roboto;
    font-size: 20px;
    font-size: 1.5vw;
    font-weight: BOLD;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-left: 60px;
    position: relative;
    left: -70px;
}

div.signature {
    padding-left: 15vw;
    padding-top: 50px;
    font-family: julius;
    font-size: 20px;
    font-size: 1.5vw;
    letter-spacing: 2px;
    line-height: 1.7em;
}

div.left-menu {
    font-family: cabin-bold;
    font-size: 25px;
    font-size: 1.8vw;
    float: left;
    width: 15%;
    clear: both;
}

div.left-menu div.menu-link{
    padding-bottom: 20px;
}


div#about-content {
    float: right;
    width: 80%;
    padding-bottom: 100px;
}

div#wendy-div {
    float: left;
    width: 30%;
    padding: 0px 15px 15px 0px;
}

img#wendy-img {
    width: 100%;
}

div.story {
    font-family: tenorsans;
    font-size: 15px;
    font-size: 1.2vw;
}

div#contact-us {
    text-align: center;
}

div#contact-us div.title{
    font-family: julius;
    font-size: 30px;
    font-size: 2.5vw;
    font-weight: BOLD;
    letter-spacing: 2px;
}

div#contact-us div.description {
    width: 70%;
    padding: 0 15%;
}

div#contact-us div.contacts {
    width: 70%;
    padding: 25px 15% 0 15%;
    text-align: center;
}

div#contact-us div.method {
    width: 50%;
    margin: 3% 0;
    display: inline-block;
}

div#contact-us div.method div.title {
    font-family: roboto;
    font-size: 20px;
    font-size: 1.5vw;
    font-weight: BOLD;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 10px;
}

div#events {
    text-align: center;
}

div#events div.event-content{
    float: left;
    position: relative;
    width: 70%;
    padding: 0 15%;
}

div#events div.title {
    font-family: julius;
    font-size: 30px;
    font-size: 2.5vw;
    font-weight: BOLD;
    letter-spacing: 2px;
    text-align: center;
    background: url(../img/dotted_border.png) repeat-x 0 100%;
    padding-bottom: 20px;
}

div#events ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

div#events li {
    float: left;
    position: relative;
    width: 100%;
    list-style-type: none;
    padding: 20px 0;
    background: url(../img/dotted_border.png) repeat-x 0 100%;
}

div#events span {
    width: 100%;
    float: left;
}

div#events span.left {
    text-align: left;
    width: 50%;
}

div#events span.right {
    text-align: right;
    width: 50%;
}

div.thanks {
    font-family: julius;
    font-size: 15px;
    font-size: 1.2vw;
}
div.thanksMessage {
    font-size: 30px;
    font-size: 2.5vw;
    font-weight: BOLD;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 50px;
}

div#card {
    float: left;
    width: 27%;
    padding: 0 3%;
}

div.donate {
    text-align: center;
}

div#check {
    float: left;
    width: 27%;
    padding: 0 3%;
}

div#check span#payto {
    font-family: roboto;
    font-size: 14px;
    font-size: 1.1vw;
}

div.thanks div#other {
    float: left;
    width: 27%;
    padding: 0 3%;
}

div.thanks div.title {
    font-family: roboto;
    font-size: 20px;
    font-size: 1.5vw;
    font-weight: BOLD;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 10px;
}

div.thanks div.description {
    padding-bottom: 10px;
}

div#thanksFooter {
    clear: both;
    width: 100%;
    padding-top: 75px;
}