<div id="contact-us">
    <div class="title">Contact Us</div>
    <div class="description">Would you like to volunteer, send prayers or learn more about Power Walking Ministries? We'd love to hear from you!</div>

    <div class="contacts">
        <div id="phone" class="method">
            <div class="title">PHONE</div>
            (910) 477-3146
        </div>
        <div id="email" class="method">
            <div class="title">EMAIL</div>
            <a href="mailto:PowerWalkingMinistries@yahoo.com">PowerWalkingMinistries@yahoo.com</a>
        </div>
        <div id="address" class="method">
            <div class="title">MAIL</div>
            Power Walking Ministries, Inc.<br/>
            PO Box 10418<br/>
            Southport, NC 28461
        </div>
    </div>
</div>