<div id="events">
    <div class="event-content">
        <div class="title">Speaking Events</div>
        <div class="event-container">
            <ul>
                <li>
                <span class="title">
                    <span class="left">Women's Conference</span>
                    <span class="right">
                        <a href="https://www.google.com/maps/place/Bowens+Chapel/@34.1265647,-77.901619,17z/data=!3m1!4b1!4m5!3m4!1s0x89a9f7b380fd471d:0x3759e56434652eeb!8m2!3d34.1265603!4d-77.8994303" target="_blank">Bowens Chapel</a>
                        <br/>
                        5826 Carolin Beach Rd
                        <br/>
                        Wilmington, NC
                    </span>
                </span>
                    <span class="details">
                    <span class="left">Saturday April 28, 2018 at 9:00 AM - 2:00 PM</span>
                    <span class="right">Georgette McCracken: 910-515-3288</span>
                </span>
                </li>
                <li>
                <span class="title">
                    <span class="left">Break the Box</span>
                    <span class="right">
                        <a href="https://www.google.com/maps/place/4404+Holly+Shelter+Rd,+Castle+Hayne,+NC+28429" target="_blank">Shoulders Branch Missionary Baptist Church</a>
                        <br/>
                        4404 Holly Shelter Rd
                        <br/>
                        Castle Hayne, NC 28429
                    </span>
                </span>
                    <span class="details">
                    <span class="left">POSTPONED UNTIL FURTHER NOTICE</span>
                    <span class="right">910-675-9248</span>
                </span>
                </li>
            </ul>
        </div>
        <div class="title">Community Events</div>
        <div class="event-container">
            <ul>
                <li>
                    <span class="title">
                        <span class="left">Christmas Wrapping Party!!!</span>
                    </span>
                    <div class="details">
                        <div class="left"><img src="img/Christmas_2017/IMG_5798.jpg"></div>
                        <div class="right"><img src="img/Christmas_2017/IMG_5800.jpg"></div>
                    </div>
                    <div class="details">
                        <div class="left"><img src="img/Christmas_2017/IMG_5804.jpg"></div>
                        <div class="right"><img src="img/Christmas_2017/IMG_5805.jpg"></div>
                    </div>
                    <div class="details">
                        <div class="left"><img src="img/Christmas_2017/IMG_5811.jpg"></div>
                        <div class="right"><img src="img/Christmas_2017/IMG_5813.jpg"></div>
                    </div>
                    <div class="details">
                        <img src="img/Christmas_2017/IMG_5806.jpg">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>