<div id="events">
    <div class="event-content">
        <div class="title">Speaking Events</div>
        <ul>
            <li>
                <span class="title"><span class="left">Women's Day - FOR SUCH A TIME AS THIS</span><span class="right">Agape The House Of Love Ministry</span></span>
                <span class="details">
                    <span class="left">Sunday, January 29 2017, 3:00 p.m.</span>
                    <span class="right">1115-C South 3rd St., Wilmington, NC<br/>PASTOR: Elder Kevin Hooper<br/></span>
                </span>
            </li>
            <li>
                <span class="title"><span class="left">TRANSFORMED by the Word</span><span class="right">Fort Caswell Retreat and Conference Center</span></span>
                <span class="details">
                    <span class="left">February 3 - February 5, 2017</span>
                    <span class="right">For more information, contact:<br/>Rebekah Kostyal at 910-686-7265</span>
                </span>
            </li>
        </ul>
    </div>
</div>