<div id="events">
    <div class="event-content">
        <div class="title">Speaking Events</div>
        <div class="event-container">
            <ul>
                <li>
                <span class="title">
                    <span class="left">Women's Conference: The Woman of the Past and the Woman God has called you to be Today</span>
                    <span class="right">
                        <a href="https://www.google.com/maps/place/First+Baptist/@33.9192803,-78.1028046,13z/data=!4m8!1m2!2m1!1sfirst+baptist+church+near+Southport,+NC!3m4!1s0x89aa0755a993139f:0x9e468ab669d57b32!8m2!3d33.924548!4d-78.022857" target="_blank">First Baptist</a>
                        <br/>
                        619 North Lord St
                        <br/>
                        Southport, NC
                    </span>
                </span>
                    <span class="details">
                    <span class="left">Sunday October 22, 2017 at 3:00 PM</span>
                    <span class="right">910-457-6522</span>
                </span>
                </li>
                <li>
                <span class="title">
                    <span class="left">Break the Box</span>
                    <span class="right">
                        <a href="https://www.google.com/maps/place/4404+Holly+Shelter+Rd,+Castle+Hayne,+NC+28429" target="_blank">Shoulders Branch Missionary Baptist Church</a>
                        <br/>
                        4404 Holly Shelter Rd
                        <br/>
                        Castle Hayne, NC 28429
                    </span>
                </span>
                    <span class="details">
                    <span class="left">POSTPONED UNTIL FURTHER NOTICE</span>
                    <span class="right">910-675-9248</span>
                </span>
                </li>
            </ul>
        </div>
        <div class="title">Community Events</div>
        <div class="event-container">
            <ul>
                <li>
                    <span class="title">
                        <span class="left">Christmas Wrapping Party!!!</span>
                    </span>
                    <div class="details">
                        <div class="left"><img src="img/Christmas_2017/IMG_5798.jpg"></div>
                        <div class="right"><img src="img/Christmas_2017/IMG_5800.jpg"></div>
                    </div>
                    <div class="details">
                        <div class="left"><img src="img/Christmas_2017/IMG_5804.jpg"></div>
                        <div class="right"><img src="img/Christmas_2017/IMG_5805.jpg"></div>
                    </div>
                    <div class="details">
                        <div class="left"><img src="img/Christmas_2017/IMG_5811.jpg"></div>
                        <div class="right"><img src="img/Christmas_2017/IMG_5813.jpg"></div>
                    </div>
                    <div class="details">
                        <img src="img/Christmas_2017/IMG_5806.jpg">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>