<div class="guidelines">
    <div class="title">Guidelines</div>
    <ul>
        <li>
            Provide shoes and socks for all children as needed.
        </li>
        <li>
            All shoes are purchased by PWM following referral by a teacher, school counselor and/or social worker;  parents/guardians are always involved.
        </li>
        <li>
            These shoes are provided to meet the desperate needs of those children that would not have shoes unless someone intervened.
        </li>
        <li>
            Only tennis shoes are purchased to provide safety and to enable each child to fully participate in all school activities.
        </li>
        <li>
            Special attention is given to shoes purchased for students who desire to participate in school sports, such as track, football, soccer, basketball, etc.
        </li>
        <li>
            PWM also has a Gospel Outreach ministry. Christian literature is distributed with new shoes when approved by parent/guardians.
        </li>
    </ul>
</div>