<div id="home-content">
    <div class="home-img">
        <img src="img/home_shoes.png">
    </div>
    <div class="home-text">
        <div class="believe">I Believe...</div>
        <div class="belief">
            THAT 500 PAIRS OF SHOES
            WILL BE PLACED IN EACH
            CHILD's BOOK BAG TWO TIMES
            A YEAR IN THE FALL AND
            IN THE SPRING...
        </div>
        <div class="jesus">
            IN JESUS NAME HE CAN DO THIS!!!!!
        </div>
        <div class="signature">
            - WENDY JONES
        </div>
    </div>
</div>