<div class="story">
    <div id="wendy-div">
        <img id="wendy-img" src="img/Wendy.png">
    </div>
    &nbsp; &nbsp; Wendy Jones is a resident of Southport, NC and a member of Generations Church in Southport.
    She is a physical education teacher at Southport Elementary School where she has been teaching for the last 24 years.
    <br/><br/>
    &nbsp; &nbsp; She has 2 daughters : Jerelyn  20 yrs. old, a Junior at UNC-Wilmington and
    Bethany 16yrs. old, an 11th grader at South Brunswick High School.
    <br/><br/>
    &nbsp; &nbsp; She has been married 25 yrs. to her high school sweet heart Jere Jones.
    <br/><br/>
    &nbsp; &nbsp; Wendy was called into the ministry in 2007 and founded Power Walking
    Ministries. This ministry has given hundreds of shoes, socks and bibles to
    students in the Brunswick County school system.  Power Walking Ministries is based on Romans 10:15"How Beautiful are the feet of those who bring good news of good things."  Wendy's motto is "Good Shoes bring Good things in a child's life."  
    If you want to see the Love of Jesus, just give a child a new pair of shoes! Shoes Change Souls!
    <br/><br/>
    &nbsp; &nbsp; Wendy was a former Miss Brunswick County and was 1st Runner Up in the Miss N.C. pageant in 1990. She has also recorded a Contemporary Christian Music CD called Yesterday, Today and Forever.
    <br/><br/>
    &nbsp; &nbsp; Wendy is an evangelist and singer who ministers to all ages. She has held
    weekly bible studies in her home for teens and women and also speaks, sings and teaches at conferences, retreats and churches throughout the area.
    <br/><br/>
    &nbsp; &nbsp; Her heart is to see every individual experience total healing and wholeness through Jesus Christ and to feel the amazing Joy and power of God's love.
</div>
