<div id="events">
    <div class="event-content">
        <div class="title">Speaking Events</div>
        <ul>
            <li>
                <span class="title"><span class="left">Praise and Worship</span><span class="right"><a href="https://www.google.com/maps/place/North+Carolina+Baptist+Assembly" target="_blank">The Baptist Assembly</a></span></span>
                <span class="details">
                    <span class="left">March 11, 2017 at 2:30 PM</span>
                </span>
            </li>
        </ul>
    </div>
</div>