<div id="events">
    <div class="event-content">
        <div class="title">Speaking Events</div>
        <ul>
            <li>
                <span class="title"><span class="left">Women's Day</span><span class="right">Camp United Methodist Church</span></span>
                <span class="details">
                    <span class="left">Sunday November 13 2016, 8:30 and 11:00 Services</span>
                    <span class="right">4807 Main St, Shallotte, NC 28470<br/>910-754-4840</span>
                </span>
            </li>
            <li>
                <span class="title"><span class="left">St James Women's Bible Study</span><span class="right">St James Community Center</span></span>
                <span class="details">
                    <span class="left">Wednesday, November 30 2016, 9:45 a.m. - 11:45 a.m.</span>
                    <span class="right">4136 Southport-Supply Rd, Southport, NC<br/>910-253-3012<br/></span>
                </span>
            </li>
        </ul>
    </div>
</div>