<div id="home-content">
    <div class="home-img">
        <img src="img/tree2.png">
    </div>
    <div class="home-text">
        <div class="believe">I Believe...</div>
        <div class="belief">
            THAT 500 PAIRS OF SHOES
            WILL BE PLACED IN EACH
            CHILD's BOOK BAG TWO TIMES
            A YEAR IN THE FALL AND
            IN THE SPRING...
        </div>
        <div class="jesus">
            IN JESUS NAME HE CAN DO THIS!!!!!
        </div>
        <div class="signature">
            - WENDY JONES
        </div>
        <div class="gift_img">
            <form id="donate" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="KYZLN4LYH3DNJ">
                <input type="image" src="img/gift_tag.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            </form>
        </div>
    </div>
</div>