<div id="news">
    <div class="title">In the News</div>
    <ul>
        <li>
            StarNews Online, January 23, 2017 - Have you ever met a person who just exudes kindness? Wendy Jones, founder of Power Walking Ministries, is that lady. Wendy is a resident of Southport and a member of Generations Church there. She was called into the ministry in 2007 and founded Power Walking Ministries. This ministry has given hundreds of shoes, socks and Bibles to students in the Brunswick County school system...<a href="http://www.starnewsonline.com/entertainment/20170123/power-walking-ministries-helps-kids-in-brunswick-schools" target="_blank">read more</a>
        </li>
    </ul>

</div>