<div class="stats">
    <div class="title">Statistics</div>
    <ul>
        <li>
            Power Walking Ministries began in 2013
        </li>
        <li>
            Power Walking Ministries has provided over 340 new shoes to children in need
        </li>
        <li>
            15.7% of Brunswick County residents live in poverty
        </li>
        <li>
            Power Walking Ministries has a goal to provide 1,000 new shoes to 500 children in the 2016-2017 school year
        </li>
        <li>
            Over 69,000 people in Brunswick County have no religious affiliation
        </li>
        <li>
            Power Walking Ministries has expanded to supporting 13 local schools
        </li>
    </ul>
</div>