<div class="t-content">
    <div id="T1" class="testimonial">
        <div class="T-img T-img-left">
            <img id="anijah" src="img/T-1.png">
        </div>
        <div id="T1-desc" class="T-desc">
            to: Mrs. Jones<br/>
            from: Anijah<br/><br/>
            I love the shoes they are pretty because pink is my favorite color<br/><br/>
            Why I love God<br/>
            I love God because He made avreybody pretty.<br/>
            I love you too Mrs. Jones<br/>
            <div id="T1-sign">Love, Anijah</div>
        </div>
    </div>
    <div id="T2" class="testimonial">
        <div class="T-img T-img-right">
            <img id="birthday" src="img/T-2.png">
        </div>
        <div id="T2-desc" class="T-desc">
            This little girl just gave me a pair of new shoes for PWM and $205 she collected from her birthday over the weekend!!!  Instead of presents she told everyone to contribute to PWM.  I was in Tears!!!!!  This blessed me beyond Words!!!!
        </div>
    </div>
</div>