<div class="t-content">
    <div id="T7" class="testimonial">
        <div class="T-img T-img-right">
            <img src="img/T-7.jpg">
        </div>
        <div id="T7-desc" class="T-desc left">
            Dear Ms Wendy
            <br/>
            Thank you so much
            <br/>
            for my new shoes.
            <br/>
            They help me run in
            <br/>
            PE. I am going to
            <br/>
            be real fast in
            <br/>
            Special Olympics on
            <br/>
            Friday.  I love
            <br/>
            them
            <br/>
            Love
            <br/>
            Stevie
        </div>
    </div>
    <div id="T6" class="testimonial">
        <div class="T-img T-img-left">
            <img src="img/T-6.jpg">
        </div>
        <div id="T6-desc" class="T-desc right">
            SPRING SEASON BRINGS NEW SHOES AND BIG SMILES!!!!!!
        </div>
    </div>
    <div id="T5" class="testimonial">
        <div id="T5-desc" class="T-desc">
            Just wanted to share how amazing it was for me to witness a very excited little boy receive a new pair of shoes last week.  He literally gasped when he saw them, and the two pairs of matching socks.  I wish I had videoed it.  I swear this little boy is walking taller and showing more pride in his work and actions since receiving those shoes.  Thank you Power Walking Ministires.  I wish you could have enjoyed his excitement like I was able to.  Please pass this along to anyone involved in Power Walking Ministires.  Thank you for what you are doing.  It truly makes a difference.
            <br/>
            - Missy Whalen
            <br/>
            &nbsp; &nbsp;First Grade Teacher
            <br/>
            &nbsp; &nbsp;Southport Elementary School
        </div>
    </div>
    <div id="T4" class="testimonial">
        <div class="T-img T-img-right">
            <img id="belville" src="img/belville.jpg">
        </div>
        <div id="T4-desc" class="T-desc left">
            Yes, Thank You! As you can see a picture says a thousand words. This is your love in action just the other day. He was so excited to be trying on new shoes that he can have & take home.
            <br>
            Thanks for blessing our kids at Belville.
        </div>
    </div>
    <div id="T3" class="testimonial">
        <div class="T-img T-img-left">
            <img src="img/T-3.jpg">
        </div>
        <div id="T3-desc" class="T-desc right">
            Wilmington Pediatric Dentistry adopted Power Walking Ministries this year for their Christmas Outreach.  The children are so bless
            to be supported by this amazing local business!
            <img src="img/T3-1.jpg">
        </div>
    </div>
    <div id="T2" class="testimonial">
        <div class="T-img T-img-right">
            <img id="birthday" src="img/T-2.jpg">
        </div>
        <div id="T2-desc" class="T-desc left">
            This little girl just gave me a pair of new shoes for PWM and $205 she collected from her birthday over the weekend!!!  Instead of presents she told everyone to contribute to PWM.  I was in Tears!!!!!  This blessed me beyond Words!!!!
        </div>
    </div>
    <div id="T1" class="testimonial">
        <div class="T-img T-img-left">
            <img id="anijah" src="img/T-1.jpg">
        </div>
        <div id="T1-desc" class="T-desc right">
            to: Mrs. Jones<br/>
            from: Anijah<br/><br/>
            I love the shoes they are pretty because pink is my favorite color<br/><br/>
            Why I love God<br/>
            I love God because He made avreybody pretty.<br/>
            I love you too Mrs. Jones<br/>
            <div id="T1-sign">Love, Anijah</div>
        </div>
    </div>
</div>