<div class="thanks">
    <div class="thanksMessage">
        Thank you for helping our kids!
    </div>

    <div id="card">
        <div class="title">
            CREDIT CARD
        </div>
        <div class="description">
            To donate by credit card or paypal, please click the button below.
        </div>
        <div class="donate">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="KYZLN4LYH3DNJ">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            </form>
        </div>
    </div>

    <div id="check">
        <div class="title">
            CHECK
        </div>
        <div class="description">
            To donate by check, please make the check payable to <span id="payto">POWER WALKING MINISTRIES</span> and send to:
        </div>
        <div class="contactMail">
            Power Walking Ministries<br/>
            123 blah blah blah<br/>
            Southport, NC 28461
        </div>
    </div>

    <div id="other">
        <div class="title">
            OTHER METHODS
        </div>
        <div class="description">
            To inquire about other opportunities to help, please contact us directly at:
        </div>
        <div class="contactEmail">
            <a href="mailto:PowerWalkingMinistries@yahoo.com">PowerWalkingMinistries@yahoo.com</a>
        </div>
        <div class="contactPhone">
            910-555-5555
        </div>
    </div>

    <div id="thanksFooter">
        Power Walking Ministries is a fully accredited 501 (c) (3) as defined by the IRS and your contributions are tax deductible as are donations of devices, transfers or gifts under section 2055, 2106 or 2522 of the code.
    </div>
</div>
